body {
    background: #fbfbfb;
    font-family: Arial, sans-serif;
  }
.group-container{
    width: 100%;
    display: flex;
    padding: 0;
}
.group-list{
    width: 20%;
    background: #fff;
    height: 85vh;
    padding: 10px 20px;
}
.group-title{
    font-size: 20px;
    font-weight: bold;
    
}
.create-group-button{
    text-decoration: none;
    background: #38b6ff;
    color: #000;
    width: 200px;
    padding: 10px 80px;
    border-radius: 20px;
    font-weight: bold;
}
.group-list-item{
    margin-top: 30px;
    overflow-y: auto;
    max-height: 70vh;
}
.group-item{
    width: 90%;
    display: flex;
    margin-top: 10px;
    gap: 2rem;
    padding: 4px 6px;
    border-radius: 10px;

}
.group-item:hover{
    background: #ddd;

}
.group-avatar{
    width: 50px;
    height: 50px;
    border-radius: 10px;
}
/* Namespace cụ thể cho phần group-post */
.group-post-wrapper {
    max-height: 88vh;
    overflow-y: scroll;
    scrollbar-width: none;
}
.group-post-wrapper .group-post {
    width: 70%;
    align-items: center;
    justify-content: center;
    padding: 10px 20%;
}

.group-post-wrapper .group-post-title {
    font-size: 20px;
    font-weight: bold;
    color: #919191;
}

.group-post-wrapper .group-post-list {
    width: 90%;

}

