
/* Bài đăng */
.post {
    background: #fff;
    padding: 15px;
    border-radius: 30px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post .info {
  position: relative;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 10px;
}
.info-user {
    display: flex;
    flex-direction: column; /* Hiển thị theo chiều dọc */   
    align-items: flex-start; /* Căn trái nội dung */
    gap: 5px; /* Khoảng cách giữa các phần tử */
}

.post .info strong {
    font-size: 16px;
    color: #333;
}

.post .info small {
    font-size: 12px;
    color: #65676b; /* Màu chữ nhạt */
}

.content-text{
    font-size: 16px;
    margin-bottom: 10px;
    color: #050505;
}


.post .actions {
    display: flex;
    justify-content: space-between;
        border-top: 1px solid #ddd;
    padding-top: 10px;
    color: #65676b;
}

.post .actions .action-item {
    cursor: pointer;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.post .actions .action-item:hover {
    background-color: #e4e6eb;
    color: #65676b; /* Màu xanh hover */
}
.action-item{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.like-comment{
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
}
.list-post{
    height: auto;
    
}
.list-image-video-post {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    margin-bottom: 20px;
}

.list-image-post {
    display: grid;
    gap: 1rem;
    /* Sử dụng grid-template-rows để tự động chia hàng */
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    justify-content: center;
    padding: 10px;
}

.post-img {
    width: 100%;
    height: auto;
    aspect-ratio: 4/3; /* Đảm bảo các ảnh có tỷ lệ nhất quán */
    object-fit: cover;
    border-radius: 10px;
}

.list-video-post {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    justify-content: center;
    padding: 10px;
}
.show-more-btn{
    border: none;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.063); /* Màu đen với 50% độ trong suốt */
}
.post-video {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.unliked-icon{
    color: #1877f2;
    align-items: center;
}
    .action-item:hover{
        color: #65676b;
}

.unliked-icon:hover{
    color: #1877f2 !important;
    align-items: center;
}

/* Phong cách cho modal */
.share-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .share-modal-content {
    background-color: #ffffff;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .share-modal-title {
    font-size: 18px;
    color: #333333;
    font-weight: 600;
    margin-bottom: 20px;
  }
  
  .share-options {
    max-width: 90%;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0;
    margin: 0;
  }
  
  .share-option {
    margin-bottom: 10px;
  }
  
  .share-option-link {
    display: flex;
    gap: 1rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #007bff;
    transition: color 0.3s ease;
  }
  
  .share-option-link:hover {
    color: #0056b3;
  }
  
  .copy-link-option {
    align-items: center;
    display: flex;
    gap: 1rem;
    cursor: pointer;
    font-size: 16px;
    color: #333333;
    transition: color 0.3s ease;
  }
  
  .copy-link-option:hover {
    color: #555555;
  }
  
  .close-modal-button {
    margin-top: 20px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .close-modal-button:hover {
    background-color: #0056b3;
  }
  .loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 30px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
/* From Uiverse.io by david-mohseni */ 
.loader {
    position: relative;
    width: 54px;
    height: 54px;
    border-radius: 10px;
  }
  
  .loader .load-item {
    width: 8%;
    height: 24%;
    background: rgb(255, 255, 255);
    position: absolute;
    left: 50%;
    top: 30%;
    opacity: 0;
    border-radius: 50px;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    animation: fade458 1s linear infinite;
  }
  
  @keyframes fade458 {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0.25;
    }
  }
  
  .loader .bar1 {
    transform: rotate(0deg) translate(0, -130%);
    animation-delay: 0s;
  }
  
  .loader .bar2 {
    transform: rotate(30deg) translate(0, -130%);
    animation-delay: -1.1s;
  }
  
  .loader .bar3 {
    transform: rotate(60deg) translate(0, -130%);
    animation-delay: -1s;
  }
  
  .loader .bar4 {
    transform: rotate(90deg) translate(0, -130%);
    animation-delay: -0.9s;
  }
  
  .loader .bar5 {
    transform: rotate(120deg) translate(0, -130%);
    animation-delay: -0.8s;
  }
  
  .loader .bar6 {
    transform: rotate(150deg) translate(0, -130%);
    animation-delay: -0.7s;
  }
  
  .loader .bar7 {
    transform: rotate(180deg) translate(0, -130%);
    animation-delay: -0.6s;
  }
  
  .loader .bar8 {
    transform: rotate(210deg) translate(0, -130%);
    animation-delay: -0.5s;
  }
  
  .loader .bar9 {
    transform: rotate(240deg) translate(0, -130%);
    animation-delay: -0.4s;
  }
  
  .loader .bar10 {
    transform: rotate(270deg) translate(0, -130%);
    animation-delay: -0.3s;
  }
  
  .loader .bar11 {
    transform: rotate(300deg) translate(0, -130%);
    animation-delay: -0.2s;
  }
  
  .loader .bar12 {
    transform: rotate(330deg) translate(0, -130%);
    animation-delay: -0.1s;
  }
  
.group-info{
  width: 100%;
  position: relative;
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 10px;
}
.info-group{
  display: flex;
  gap: 1rem;
  align-items: center;
}
.group-avatar-img{
  height: 40px;
  border: 1px solid #ddd;
  border-radius: 50%;
  object-fit: cover;
}
.info-member-group{
  position: absolute;
  top: 55%;
  left: 5%;
  display: flex;
  gap: 1rem;
}
.info-detail-member-group{
  position: absolute;
  top: 55%;
  left: 8%;
  display: flex;
  gap: 1rem;
}
.member-avatar-img{
  width: 20px;
  height: 20px;  
  border-radius: 50%;
  object-fit: cover;
}
.member-name{
  font-weight: bold;
}
.post-item-container{
  width: 100%;
}
.post-action-list{
  position: absolute;
  top: 0;
  right: 0;
  padding: 0px 10px;
  border-radius: 8px;

}
.post-action-list:hover{
  background: #ddd;
}
.post-action-delete{
  position: absolute;
  top: 20px;
  right: -20px;


}
.post-action-delete-button{
  padding: 4px 15px;
  background: #ff0000;
  border: none;
  border-radius: 20px;
  color: #fff;
  font-weight: bold;
}